@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  height: 700px;
  width: 1440px;
  position: relative;
  background-color: #fefefe;
}
.fd {
  height: 750px;
  width: 970px;
  background-color: #f7f7f7;
  border-radius: 0 0 100px 0;

  display: inline-block;
}
.shayan {
  font-size: 30px;
  position: absolute;
  left: 100px;
  top: 30px;
  color: #fead2a;
  font-family: "Roboto", sans-serif;
}
a {
  font-family: "Roboto", sans-serif;
}
.menu {
  position: absolute;
  top: 0;
  right: 150px;
  display: inline;
  font-size: 18px;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}
li {
  display: inline;
  padding: 13px;
  margin: 7px;
}
li:hover {
  color: #fff;
  background-color: #fead2a;
  border-radius: 3px;
}
.me {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 200px;
  height: 250px;
  width: 550px;
}
.fh {
  font-size: 60px;
  color: #333333;
  font-family: "Roboto", sans-serif;
}
.fs {
  margin-right: 100px;
  padding: 15px 25px 15px 25px;
  border: 1px #fead2a solid;
  color: #6f6f6f;
  border-radius: 0 0 25px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.fs:hover {
  color: #fff;
  background-color: #fead2a;
}
.fp {
  color: #6f6f6f;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 450px;
}
.pic {
  height: 514px;
  width: 403px;
  border-radius: 15px 15px 40px 15px;
}
.picd {
  display: inline-block;
  position: absolute;
  height: 514px;
  width: 403px;
  right: 200px;
  top: 120px;
  background-color: #ffffff;
  border: #ffffff solid 15px;
  box-shadow: 5px 5px 10px 10px #e7e7e7;
  border-radius: 15px 15px 40px 15px;
}
.sec1 {
  display: inline-block;
  width: 1350px;
  height: 150px;
  text-align: center;
}
.social {
  height: 20px;
  width: 20px;
  margin: 7px;
  margin-top: 5px;
}
.follow {
  display: inline-block;
  position: absolute;
  transform: rotate(-90deg);
  top: 300px;
  right: 0px;
  padding: 3px;
}
.sp {
  color: #6f6f6f;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  display: inline;
  margin-right: 25px;
  vertical-align: top;
}
main {
  text-align: center;
}
.company {
  display: inline-block;
  margin: 40px 70px 40px 70px;
  padding: 10px;
}
.company:hover {
  background-color: #f7f7f7;
  border-radius: 50%;
}
.box1 {
  display: inline-block;
  height: 300px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  position: relative;
}
.sec2 {
  margin-top: 120px;
}

.icobox {
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 10px 10px 5px #f2f1f1;
  padding: 30px;
  border-radius: 0 0 15px 0;
}
.ico {
  font-size: 50px;
  color: #fead2a;
}
.boxh {
  position: absolute;
  top: 175px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #333333;
}
.boxp {
  position: absolute;
  top: 250px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #6f6f6f;
}
